.container {
    display: flex;
    position: relative;
  }
  
  .sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    z-index: 1;
  }
  
  .content {
    position: relative;
    left: 350px;
    z-index: 0;
  }
  